@{
  Layout = "_Layout";
  ViewBag.Title = "Details Restaurant";
}

@model FavoriteRestaurants.Models.Restaurant

<div class="jumbotron">
  <h2>@Html.DisplayFor(model => model.Name) Restaurant Details</h2>
</div>

<img src="https://www.gaiahotelspa.com/resourcefiles/mainimages/woodsidegrill-interior-2.jpg" class="img-fluid" alt="">

<hr />
<h3>@Html.DisplayNameFor(model => model.Description): @Html.DisplayFor(model => model.Description)</h3>
<h3>@Html.DisplayNameFor(model => model.PriceLevel): @Html.DisplayFor(model => model.PriceLevel)</h3>
<h3>@Html.DisplayNameFor(model => model.Rating): @Html.DisplayFor(model => model.Rating)</h3>
<h3>Restaurant Type: @Html.DisplayFor(model => model.Type)</h3>

@if(Model.Vegetarian == true)
{
  <h3>@Html.DisplayNameFor(model => model.Vegetarian): Yes</h3>
}
else
{
  <h3>@Html.DisplayNameFor(model => model.Vegetarian): No</h3>
}

<div class="links4">
  <div class="link">@Html.ActionLink("Back to list", "Index")</div>
  <div class="link">@Html.ActionLink("Edit Restaurant", "Edit", new { id = Model.RestaurantId })</div>
  <div class="link">@Html.ActionLink("Delete Restaurant", "Delete", new { id = Model.RestaurantId })</div>
  <div class="link">@Html.ActionLink("Write a Review", "Create", "Reviews")</div>
</div>


@Html.Partial("Footer")