@{
  Layout = "_Layout";
}

@using FavoriteRestaurants.Models;
@model List<FavoriteRestaurants.Models.Restaurant>;

<div class="jumbotron">
  <h2>Restaurants found by Search</h2>
</div>

 
  @if(@Model.Count == 0)
  {
    <h4>No restaurants matching search found!</h4>
  }

  <table>
    <tr>
      <th>Name</th>
      <th>PriceLevel</th>
      <th>Rating</th>
      <th>Type</th>
      <th>Vegetarian</th>
      <th>Cuisine</th>
    </tr>
  
  @foreach (Restaurant restaurant in Model)
  {
    <tr>
      <td>@Html.ActionLink($"{restaurant.Name} ","Details", new { id = restaurant.RestaurantId })</td>
      <td>@Html.ActionLink($"{restaurant.PriceLevel} ","Details", new { id = restaurant.RestaurantId })</td>
      <td>@Html.ActionLink($"{restaurant.Rating} ","Details", new { id = restaurant.RestaurantId })</td>
      <td>@Html.ActionLink($"{restaurant.Type} ","Details", new { id = restaurant.RestaurantId })</td>
      @if(restaurant.Vegetarian == true)
      {
        <td>@Html.ActionLink("yes","Details", new { id = restaurant.RestaurantId })</td>
      }
      else{
        <td>@Html.ActionLink("no","Details", new { id = restaurant.RestaurantId })</td>
      }
      @if(restaurant.CuisineId == 1)
      {
        <td>@Html.ActionLink($"French","Details", new { id = restaurant.RestaurantId })</td>  
      }
      else if (restaurant.CuisineId == 2)
      {
        <td>@Html.ActionLink($"Italian","Details", new { id = restaurant.RestaurantId })</td>  
      }
      else if (restaurant.CuisineId == 3)
      {
        <td>@Html.ActionLink($"Chinese","Details", new { id = restaurant.RestaurantId })</td>  
      }
      else if (restaurant.CuisineId == 4)
      {
        <td>@Html.ActionLink($"Mexican","Details", new { id = restaurant.RestaurantId })</td>  
      }           
    </tr>
  }
</table>

<div class="links3">
  <div class="link">
    <p>@Html.ActionLink("Search for another restaurant", "Search")</p>
  </div>
  <div class="link">
    <p>@Html.ActionLink("Add new restaurant", "Create")</p>
  </div>
  <div class="link">
    <p>@Html.ActionLink("List of restaurants", "Index")</p>
  </div>
</div>

@Html.Partial("Footer")