@{
  Layout = "_Layout";
}

@using FavoriteRestaurants.Models
@model FavoriteRestaurants.Models.Restaurant

<div class="jumbotron">
  <h2>Search Restaurants</h2>
</div>

<div class="form">
  @using (Html.BeginForm("SearchResults", "Restaurants", FormMethod.Post))
  {
    @Html.Label("Enter your desired search criteria below")
    <hr>
    @Html.Label("By Name")
    @Html.TextBoxFor(model => model.Name)
    <br>
    @Html.Label("By Price Level")
    @Html.DropDownListFor(model => model.PriceLevel, new SelectList(Enum.GetValues(typeof(PriceLevel))), "Select Price Level")
    <br>
    @Html.Label("By Rating")
    @Html.DropDownListFor(model => model.Rating, new SelectList(Enum.GetValues(typeof(Rating))), "Select Rating")
    <br>
    @Html.Label("By Type")
    @Html.DropDownListFor(model => model.Type, new SelectList(@ViewBag.RestaurantType), "Select By Type")
    <br>
    @Html.Label("By Vegetarian")
    @Html.CheckBoxFor(Model => Model.Vegetarian, true) 
    <br>

    <input type="submit" value="Find restaurant" class="btn btn-secondary"/>
  }

<div class="links2">
  <div class="link">
    <p>@Html.ActionLink("Add a new restaurant", "Create")</p>
  </div>
  <div class="link">
    <p>@Html.ActionLink("List of Restaurants", "Index")</p>
  </div>
</div>   

@Html.Partial("Footer")