@{
  Layout = "_Layout";
  ViewBag.Title = "Add Review";
}

@using FavoriteRestaurants.Models
@model FavoriteRestaurants.Models.Review

<div class="jumbotron">
  <h4>Add a new review</h4>
</div>

<div class="form">
  @using (Html.BeginForm())
  {
    @Html.HiddenFor(model => model.RestaurantId, new { Value = @ViewBag.RestaurantId})

    @Html.LabelFor(model => model.ReviewerName)
    @Html.TextBoxFor(model => model.ReviewerName)
    <br>
    <br>
    @Html.LabelFor(model => model.ReviewRating)
    @Html.DropDownListFor(model => model.ReviewRating, new SelectList(Enum.GetValues(typeof(ReviewRating))), "Select Rating")
    <br>
    <br>
    @Html.LabelFor(model => model.Description)
    @Html.TextAreaFor(model => model.Description)
    <br>
    <br>
    @Html.LabelFor(model => model.ReviewDate)
    @Html.TextBoxFor(model => model.ReviewDate, new { @type = "date"})
    <br>
    <br> 

    <input type="submit" value="Add new review" class="btn btn-secondary" />
  }
</div>

<div class="link">@Html.ActionLink("Show all reviews", "Index")</div>
@Html.Partial("Footer")